:root {
  /* Основные шрифты */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  /* Серый цыет текста */
  --main-txt-cl: #757575;
  /* Черный цвет текста */
  --secondary-txt-cl: #212121;
  /* Белый цвет фона */
  --main-bcg-cl: #e5e5e5;
  /* Бежевый цвет фона */
  --secondary-bcg-cl: #f5f4fa;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--main-txt-cl);
}

.section {
  padding: 94px 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  /* outline: 1px solid tomato; */
}

/* header */
.logo {
  margin-right: 93px;
  padding: 25px 0;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: #000000;
}

.logo-cl {
  color: #2196f3;
}

.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: #2196f3;
}

.nav-list,
.contact-list {
  display: flex;
  padding: 32px 0;
}

.nav-list {
  width: 294px;
  justify-content: space-between;
}

.contact-list {
  margin-left: auto;
}

.nav-link {
  padding: 32px 0;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--secondary-txt-cl);
}

.contact-link {
  padding: 32px 0;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-txt-cl);
}

.contact-item:not(:last-child) {
  margin-right: 50px;
}

.header {
  background: #ffffff;
  border: 1px solid #ececec;
}

.firs {
  color: #2196f3;
}

.portscnd {
  color: #2196f3;
}

.divheader {
  display: flex;
}
/* hero */

.hero-title {
  margin: 0px auto;
  margin-bottom: 30px;
  text-align: center;
  width: 696px;

  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.hero-button {
  padding: 10px 32px;
  border-radius: 4px;

  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.06em;

  color: #ffffff;
  cursor: pointer;
  background: #2196f3;
  border: none;
  outline: none;
}

.hero-button:hover,
.hero-button:focus {
  background: #188ce8;
}

.hero {
  background: #2f303a;
  height: 600px;
  text-align: center;
  padding: 200px 0;
}

/* features */

.features-subtitle {
  margin-bottom: 10px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--secondary-txt-cl);
}

.features-list {
  display: flex;
  /* margin-top: 94px;
  margin-bottom: 106px; */
}

.features-txt {
  width: 270px;
  margin-right: 30px;
}

/* What are we doing */

.job-subtitle,
.team-subtitle {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  text-align: center;

  color: var(--secondary-txt-cl);
}

.job {
  padding: 0px;
}

.job-subtitle {
  margin-bottom: 50px;
}

.job-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 82px;
}

/* Our team */

.team-list {
  /* карточка ul */
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
  width: 270px;
  height: 368px;
}

.team-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.team-name {
  margin-bottom: 10px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: var(--secondary-txt-cl);
}

.card-team {
  padding: 30px 0;
}

.team-subtitle {
  margin-bottom: 50px;
  /* padding-top: 64px; */
}

.team-txt {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 19px;

  letter-spacing: 0.03em;

  color: var(--main-txt-cl);
}

.team {
  background: var(--secondary-bcg-cl);
  height: 648px;
}

.team {
  padding: 94px 0;
}
/* footer */

.footer-contacts-link {
  font-style: normal;
  font-weight: normal;
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts-link-address {
  font-style: normal;
  font-weight: normal;
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: #ffffff;
}

.logo-footer {
  padding-bottom: 20px;
  display: inline-block;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: #ffffff;
}

.footer {
  background: #2f303a;
  padding: 60px 0;
}

.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: #2196f3;
}

.footer-contacts-item:not(:last-child) {
  margin-bottom: 9px;
}

/* portfolio nav */

.portfolio-button {
  padding: 6px 22px;
  border-radius: 4px;

  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  letter-spacing: 0.03em;

  color: var(--secondary-txt-cl);
  background: var(--secondary-bcg-cl);
  border: none;
  outline: none;
}

.portfolio-button:hover,
.portfolio-button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
  background: #2196f3;
}

.projects-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: var(--secondary-txt-cl);
}

.projects-txt {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.03em;

  color: var(--main-txt-cl);
}

.portfolio-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin: calc(-1 * 15px);
}

.portfolio-item:not(:last-child) {
  margin-right: 8px;
}

.projectscard {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.projects-item {
  margin: 15px;
  flex-basis: calc(100% / 3 - 2 * 15px);
  flex-basis: calc((100% - 90px) / 3);
}
