:root {
  /* Основные шрифты */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  /* Серый цыет текста */
  --main-txt-cl: #757575;
  /* Черный цвет текста */
  --secondary-txt-cl: #212121;
  /* Белый цвет фона */
  --main-bcg-cl: #e5e5e5;
  /* Бежевый цвет фона */
  --secondary-bcg-cl: #f5f4fa;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--main-txt-cl);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: #000000;
}

.logo-cl {
  color: #2196f3;
}

.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: #2196f3;
}

.nav-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--secondary-txt-cl);
}

.contact-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-txt-cl);
}

.header {
  background: #ffffff;
}

.firs {
  color: #2196f3;
}

.portscnd {
  color: #2196f3;
}
/* hero */

.hero-title {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  text-align: center;

  color: #ffffff;
}

.hero-button {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.06em;

  color: #ffffff;
  cursor: pointer;
  background: #2196f3;
  border: none;
  outline: none;
}

.hero-button:hover,
.hero-button:focus {
  background: #188ce8;
}

.hero {
  background: #2f303a;
}

/* features */

.features-subtitle {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--secondary-txt-cl);
}

/* What are we doing */

.job-subtitle,
.team-subtitle {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  text-align: center;

  color: var(--secondary-txt-cl);
}

/* Our team */

.team-name {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: var(--secondary-txt-cl);
}

.team-txt {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 19px;

  letter-spacing: 0.03em;

  color: var(--main-txt-cl);
}

.team {
  background: var(--secondary-bcg-cl);
}

/* footer */

.footer-contacts-link {
  font-style: normal;
  font-weight: normal;
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts-link-address {
  font-style: normal;
  font-weight: normal;
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: #ffffff;
}

.logo-footer {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: #ffffff;
}

.footer {
  background: #2f303a;
}

.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: #2196f3;
}

/* portfolio nav */

.portfolio-button {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  letter-spacing: 0.03em;

  color: var(--secondary-txt-cl);
  background: var(--secondary-bcg-cl);
  border: none;
  outline: none;
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: #ffffff;
  background: #2196f3;
}

.projects-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: var(--secondary-txt-cl);
}

.projects-txt {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.03em;

  color: var(--main-txt-cl);
}
